extends layout

block content
  h1= title
  p Welcome to #{title}
  div(ng-app="app")
    div(ng-controller="mainController")            
      div 
        label Message
        input(type="text", name="message" ng-model="message") 
        input(type="text", name="response" ng-model="response") 
      button(type='button' class='btn btn-default' title='Jog Up' 
        ng-click='picturePostProcessing()') start process
    
