extends layout

block content
  h1= title
  p Welcome to #{title}
  div(ng-app="app")
    div(ng-controller="mainController")            
      div 
        label Message
        input(type="text", name="message" ng-model="message") 
        label {{response}}
      input( type="file" multiple ng-model="files" file-change)
      button(type='button' class='btn btn-default' title='Jog Up' ng-click='picturePostProcessing()') start process
      
        //-  <input type="file" multiple ng-model="files" file-change>
        //-  input( type="file" multiple ng-model="files" file-change)
         //<br><br>
         //Selected: {{ files.length }}
        //input( type="file" ng-model="model.file" change="upload(model)")
      //- form(action="/upload",  method="post", enctype="multipart/form-data")
      //-   input(type="file", name="displayImage")
      //-   input(type="submit", name="asd")
