extends layout

block content
  h1= title
  p Welcome to #{title}
  div(ng-app="app")
    div(ng-controller="mainController")            
      div 
        label Message
        input(type="text", name="message" ng-model="message") 
        label {{response}}
      button(type='button' class='btn btn-default' title='Jog Up' 
        ng-click='picturePostProcessing()') start process
        
      form(action="/upload",  method="post", enctype="multipart/form-data")
        input(type="file", name="displayImage")
        input(type="submit", name="asd")
